[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scrapelib = "*"
lxml = "*"
opencivicdata = "*"
dj-database-url = "*"

[requires]
python_version = "3.7"
